.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid darkgreen;
  width: 2px;
  height: 2px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}